*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  margin: 50px 90px;
  background-color: #eaeaea;
}

input{
  border-radius: 5px;
  height: 40px;
  width: 550px;
  padding: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
button{
  border-radius: 5px;
  height: 40px;
  width: 150px;
  background-color: darkblue;
  color: white;
  font-weight: 800;
  cursor: pointer;
}
ol {
  margin-top: 10px;
}